.backdrop,
.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.background {
    background: radial-gradient(ellipse, #dbd7d9a1 80%, #ffc9d891) !important;
}

.backdrop-image {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
}
