.chat-panel {
    height: 100%;
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.chat-input-container {
    display: flex;
    padding: 10px;
    margin-top: 5px;
    height: 4rem;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    border: none;
}

.btn.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    font-size: 16px;
}

.chat-message-display-area {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
}

.file-drop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.2);
    border: 2px dashed #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.preview-area {
    gap: 4px;
    padding-top: 5px;
}
