.backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.backdrop-image {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
