
.navbar {
  padding: 1em 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.7rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  contain: layout style paint;
  width: 100%;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.navbar-left {
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.logout-btn {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
  font-weight: 600;
  padding: 0.6em 1.4em;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.15); */
  transition: all 0.5s ease;
}


.logout-btn:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-2px);
  /* box-shadow: 0 6px 12px rgba(0,0,0,0.2); */
  transition: all 0.5s ease;
}


.logout-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.navbar-center {
  position: relative;
  align-self: center;
  width: auto;
  margin-top: -1.5em;
  font-weight: 500;
  color: #333;
}
